*.log
*.LOG
./task1-3/pages01
./task1-3/pages01/*
/andersen/Andersen-HW/AlexP-hw/task1-4/flask1/*
/andersen/Andersen-HW/AlexP-hw/task1-4/flask1
pages01/*
/andersen/Andersen-HW/AlexP-hw/task1-3/pages01
/andersen/Andersen-HW/AlexP-hw/task1-3/pages01/*
